<!DOCTYPE html>
<html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="../compile/unminified/style.css">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Praca Inżynierska Krystian Krzywda 180228</title>
</head>
<body ng-app="app" ng-controller="MainController" id="DiagramApp" ng-class="{true: 'app-loaded'}[loaded == true]">
<div class="splash">
    <div class="loader">
        <div class="logo"></div>
    </div>
</div>
<div class="flex">
    <aside>
        <header>Diagrams</header>
        <ul class="elements">
            <li ng-click="addElement('Rect')">
                <i class="rect"></i>
                <span>Rectangle</span>
            </li>
            <li ng-click="addElement('RoundRect')">
                <i class="round-rect"></i>
                <span>Rounded Rectangle</span>
            </li>
            <li ng-click="addElement('Ellipse')">
                <i class="ellipse"></i>
                <span>Ellipse</span>
            </li>
            <li ng-click="addElement('Circle')">
                <i class="circle"></i>
                <span>Circle</span>
            </li>
            <li ng-click="addElement('Triangle')">
                <i class="triangle"></i>
                <span>Triangle</span>
            </li>
            <li ng-click="addElement('Actor')">
                <i class="actor"></i>
                <span>Actor</span>
            </li>
            <li ng-click="addElement('Text')">
                <i class="text"></i>
                <span>Text</span>
            </li>
            <li class="lines">
                <i class="line"></i>
                <span>Lines</span>
                <ul>
                    <li ng-click="drawLine($event, 'solid')">
                        <i class="line-solid"></i>
                    </li>
                    <li ng-click="drawLine($event, 'dashed')">
                        <i class="line-dashed"></i>
                    </li>
                </ul>
            </li>
            <li ng-click="addElement('DestroyObject')">
                <i class="destroy"></i>
                <span>Destroy Object</span>
            </li>
        </ul>
        <input id="color" type="color" ng-model="color"/>
        <input type="file" name="file" id="load-diagram" ng-model="fileForm" validfile>
        <div
             ng-show="editElementObj.visible && !resizeMode">
            <header>Edit element</header>
            <ul class="edit">
                <li ng-show="editElementObj.properties.x || editElementObj.properties.x == ''">
                    X: <input type="text"
                              ng-model="editElementObj.properties.x"
                              ng-change="editElementObj.element.redraw(editElementObj.properties.x, editElementObj.properties.y, editElementObj.properties.w, editElementObj.properties.h)"/> px
                </li>
                <li ng-show="editElementObj.properties.y || editElementObj.properties.y == ''">
                    Y: <input type="text"
                              ng-model="editElementObj.properties.y"
                              ng-change="editElementObj.element.redraw(editElementObj.properties.x, editElementObj.properties.y, editElementObj.properties.w, editElementObj.properties.h)"/> px
                </li>
                <li ng-show="editElementObj.properties.w || editElementObj.properties.w == ''">
                    W: <input type="text"
                              ng-model="editElementObj.properties.w"
                              ng-change="editElementObj.element.redraw(editElementObj.properties.x, editElementObj.properties.y, editElementObj.properties.w, editElementObj.properties.h)"/> px
                </li>
                <li ng-show="editElementObj.properties.h || editElementObj.properties.h == ''">
                    H: <input type="text"
                              ng-model="editElementObj.properties.h"
                              ng-change="editElementObj.element.redraw(editElementObj.properties.x, editElementObj.properties.y, editElementObj.properties.w, editElementObj.properties.h)"/> px
                </li>
                <li ng-show="editElementObj.properties.radiusTL || editElementObj.properties.radiusTL == ''">
                    TL: <input type="text"
                              ng-model="editElementObj.properties.radiusTL"
                              ng-change="editElementObj.element.redrawRadius(editElementObj.properties.radiusTL, editElementObj.properties.radiusTR, editElementObj.properties.radiusBR, editElementObj.properties.radiusBL)"/> px
                </li>
                <li ng-show="editElementObj.properties.radiusTR || editElementObj.properties.radiusTR == ''">
                    TR: <input type="text"
                              ng-model="editElementObj.properties.radiusTR"
                              ng-change="editElementObj.element.redrawRadius(editElementObj.properties.radiusTL, editElementObj.properties.radiusTR, editElementObj.properties.radiusBR, editElementObj.properties.radiusBL)"/> px
                </li>
                <li ng-show="editElementObj.properties.radiusBR || editElementObj.properties.radiusBR == ''">
                    BR: <input type="text"
                              ng-model="editElementObj.properties.radiusBR"
                              ng-change="editElementObj.element.redrawRadius(editElementObj.properties.radiusTL, editElementObj.properties.radiusTR, editElementObj.properties.radiusBR, editElementObj.properties.radiusBL)"/> px
                </li>
                <li ng-show="editElementObj.properties.radiusBL || editElementObj.properties.radiusBL == ''">
                    BL: <input type="text"
                              ng-model="editElementObj.properties.radiusBL"
                              ng-change="editElementObj.element.redrawRadius(editElementObj.properties.radiusTL, editElementObj.properties.radiusTR, editElementObj.properties.radiusBR, editElementObj.properties.radiusBL)"/> px
                </li>
            </ul>
            <div class="alpha">Alpha {{ editElementObj.properties.alpha }}
                <alpha-bar ng-model="editElementObj.properties.alpha" default-value="{{ alpha }}" id="{{ editElementObj.element.id }}"></alpha-bar>
                <input type="hidden"
                       ng-model="alpha"
                       ng-change="editElementObj.element.setAlpha(editElementObj.properties.alpha)">
            </div>
            <input id="editcolor" type="color"
                   ng-model="editElementObj.properties.color"
                   ng-change="editElementObj.element.redraw(editElementObj.properties.x, editElementObj.properties.y, editElementObj.properties.w, editElementObj.properties.h, editElementObj.properties.color)"/>
            <select ng-model="editElementObj.properties.font"
                    ng-show="editElementObj.properties.font"
                    ng-change="editElementObj.element.setFontSize(editElementObj.properties.font)">
                <option value="10px Arial">10px</option>
                <option value="11px Arial">11px</option>
                <option value="12px Arial">12px</option>
                <option value="13px Arial">13px</option>
                <option value="14px Arial">14px</option>
                <option value="15px Arial">15px</option>
                <option value="16px Arial">16px</option>
                <option value="17px Arial">17px</option>
                <option value="18px Arial">18px</option>
                <option value="19px Arial">19px</option>
                <option value="20px Arial">20px</option>
            </select>
        </div>
    </aside>
    <div class="content-panel">
        <canvas id="board" ng-click="ClickOnCanvas()" oncontextmenu="return false;" ng-class="canvasCursor"></canvas>
        <div id="layers" ng-class="{true: 'open'}[layersOpen == true]" ng-controller="LayerController">
            <div ng-click="layersOpen = layersOpen ? false : true">Warstwy</div>
            <ul>
                <li ng-repeat="element in layers">
                    <div class="icon-type">
                        <div class="type {{ element.elementType }}"></div>
                    </div>
                    <div class="name">
                        {{ element.elementName }}
                    </div>
                    <div class="actions">
                        <i class="visible" ng-show="element.visible" ng-click="setVisible($index, false)"></i>
                        <i class="visible-hide" ng-show="!element.visible" ng-click="setVisible($index, true)"></i>
                        <i class="remove" ng-click="remove(element)"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div id="edit-panel"
             ng-controller="EditPanelController"
             ng-class="{true: 'show', false: 'hide'}[editPanelObj.visible == true]"
             ng-style="styleEditPanel">

            <div class="panel-content">
                <ul>
                    <li>
                        <i class="add-line" ng-click="addLine()"></i>
                    </li>
                    <li>
                        <i class="resize" ng-click="resizeElement()"></i>
                    </li>
                    <li>
                        <i class="delete" ng-click="deleteElement()"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div id="edit-line"
             ng-controller="EditLineController"
             ng-class="{true: 'show', false: 'hide'}[editLineObj.visible == true]"
             ng-style="styleEditLine">

            <div class="panel-content">
                <ul>
                    <li>
                        <i class="arrow-left" ng-click="arrowLeft()"></i>
                    </li>
                    <li>
                        <i class="arrow-right" ng-click="arrowRight()"></i>
                    </li>
                    <li>
                        <i class="line-type" ng-click="changeType()"></i>
                    </li>
                    <li>
                        <i class="delete" ng-click="deleteElement()"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="file-manger">
            <div class="open-file" ng-click="loadDiagram()"></div>
            <div class="save-file" ng-click="saveDiagram()"></div>
        </div>
        <div id="resize-panel"
             ng-controller="ResizeController"
             ng-style="styleResizePanel"
             ng-class="{true: 'show', false: 'hide'}[resizeMode == true]">
            <div class="resize">
                <!--<div class="dot top-left" ng-mousedown="Resize($event, 'nw')"></div>-->
                <div class="dot top-center" ng-mousedown="Resize($event, 'n')"></div>
                <!--<div class="dot top-right" ng-mousedown="Resize($event, 'ne')"></div>-->
                <div class="dot middle-left" ng-mousedown="Resize($event, 'w')"></div>
                <div class="dot middle-right" ng-mousedown="Resize($event, 'e')"></div>
                <!--<div class="dot bottom-right" ng-mousedown="Resize($event, 'se')"></div>-->
                <div class="dot bottom-center" ng-mousedown="Resize($event, 's')"></div>
                <!--<div class="dot bottom-left" ng-mousedown="Resize($event, 'sw')"></div>-->
            </div>
        </div>
    </div>
</div>

<script src="../compile/unminified/app.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>