<!DOCTYPE html>
<html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="../compile/unminified/style.css">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Praca Inżynierska Krystian Krzywda 180228</title>
</head>
<body ng-app="app" ng-controller="MainController">

<div class="flex">
    <aside>
        <header>Sequence Diagrams</header>
        <ul>
            <li ng-click="addElement('activation')">Activation</li>
        </ul>
        <a href="#" ng-click="saveDiagram()">ZAPISZ PLIK</a>
    </aside>
    <div class="content-panel">
        <canvas id="board" width="1000" height="600"></canvas>
    </div>
</div>

<script src="../compile/unminified/app.js"></script>
</body>
</html>