/* Styles go here */

body{
    font-family: "Eau Naturelle", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
    font-weight:100;
    color: #eee;
    background-color: #222;
}

canvas {
    background: #fff;
}
