aside {
  header { width: 160px; background: $main; padding: 5px; font-size: 15px; color: $white; }
  ul { list-style: none; width: 100%; margin: 0; padding: 0;
    li { cursor: pointer; float: left; width: 50%; height: 0; padding-bottom: 40%; border-bottom: 1px solid $grey2; @include transition(all .3s); position: relative;
      &:nth-child(odd) { border-right: 1px solid $grey2; }
      i { display: inline-block; margin: 20px 28px 0;
        &.rect { width: 24px; height: 24px; background: $dark; }
        &.round-rect { width: 24px; height: 24px; background: $dark; border-radius: 6px; }
        &.triangle { width: 0; height: 0; border-style: solid; border-width: 0 12px 24px 12px; border-color: transparent transparent $dark; }
        &.circle { width: 24px; height: 24px; border-radius: 24px; background: $dark; }
        &.ellipse { width: 24px; height: 18px; border-radius: 12px / 9px; background: $dark; margin: 23px 28px 0; }
        &.text { width: 24px; height: 24px; background: url('/example/images/text.png'); }
        &.actor { width: 24px; height: 24px; background: url('/example/images/actor.png'); }
        &.line { width: 24px; height: 24px; background: url('/example/images/line.png'); }
        &.destroy { width: 24px; height: 24px; background: url('/example/images/destroy.png'); }
      }
      span { text-align: center; display: block; font-size: 9px; line-height: 12px; margin-top: -2px; }
      &.lines { position: relative;
        ul { position: absolute; left: 60px; top: -1px; width: 100px; background: $grey; z-index: 200; display: none;
          border-top: 1px solid $grey2; border-right: 1px solid $grey2; border-bottom: 1px solid $grey2;
          li { border-bottom: 1px solid $grey2; width: 100%; float: none; padding: 0; clear: both; height: 28px;
            &:last-child { border-bottom: 0; }
            &:nth-child(odd) { border-right: none; }
            i { margin: 0; width: 99px; height: 28px; background-position: center; float: left;
              &.line-solid {  background: url('/example/images/arrow_02.png'); }
              &.line-dashed {  background: url('/example/images/arrow_01.png'); }
            }
          }
        }
        &:hover {
          ul { display: block; }
        }
      }
    }
    &.elements {
      li {
        &:hover { background: $grey2; }
      }
    }
    &.edit { @include clearfix();
      li { font-size: 10px; text-align: center; padding: 5px 0; height: auto;
        input[type="text"] { display: inline-block; width: 50%; margin-bottom: 0; }
      }
    }
  }
  .alpha { font-size: 10px; text-align: center; margin-top: 10px; margin-bottom: 15px;
    .alpha-bar { width: 90%; height: 2px; background: $dark; position: relative; margin: 5px;
      .value { left: 50%; top: -3px; width: 8px; height: 8px; background: #fff; border-radius: 4px; border: 2px solid $dark; position: absolute; cursor: pointer; }
    }
  }
  #load-diagram { opacity: 0; width: 0; height: 0; overflow: hidden; }
}