body { font-family: Lato, Arial, Helvetica, Roboto, sans-serif; }
.flex { @include display(flex); height: 100%;
  aside { @include flex(1); max-width: 120px; width: 120px; background: $grey; }
  .content-panel { @include flex(1); }
}
