.content-panel { position: relative;
  canvas { background: url('/example/images/board_bg.png');
    &.cursor-crosshair {
      cursor: crosshair;
    }
  }
  #edit-panel, #edit-line { position: absolute; top: 0; left: 0; z-index: 100;
    .panel-content { position: relative;
      &:before { content: " "; position: absolute; left: -4px; top: 0;
        width: 0; height: 0; border-style: solid; border-width: 8px 10px 8px 0; border-color: transparent #414141 transparent transparent; }
      ul { background: #414141; color: #fff; margin: 0 0 0 6px; list-style: none; padding: 5px 5px 0 5px;
        li {
          i { width: 24px; height: 24px; background-size: cover; display: inline-block; cursor: pointer;
            &.add-line { background-image: url('/example/images/draw_line.png'); }
            &.resize { background-image: url('/example/images/resize.png'); }
            &.delete { background-image: url('/example/images/delete.png'); }
            &.arrow-left { background-image: url('/example/images/left.png'); }
            &.arrow-right { background-image: url('/example/images/right.png'); }
            &.line-type { background-image: url('/example/images/line_type.png'); }
            &:hover { opacity: .6; }
          }
        }
      }
    }
  }
  #resize-panel { border: 1px dashed $greyDark; position: absolute; z-index: 200; width: 200px; height: 200px; top: 20px; left: 50%;
    .resize { position: relative; height: 100%;
      .dot { position: absolute; width: 5px; height: 5px; background: $dark;
        &.top-left { top: 0; left: 0; margin: -3px 0 0 -3px; cursor: nw-resize; }
        &.top-center { top: 0; left: 50%; margin: -3px 0 0 -3px; cursor: n-resize;}
        &.top-right { top: 0; left: 100%; margin: -3px 0 0 -2px; cursor: ne-resize;}

        &.middle-left { bottom: 50%; left: 0;  margin: -3px 0 0 -3px; cursor: w-resize;}
        &.middle-right { bottom: 50%; left: 100%; margin: -3px 0 0 -2px; cursor: e-resize;}

        &.bottom-left { bottom: 0; left: 0;  margin: 0 0 -3px -3px; cursor: sw-resize; }
        &.bottom-center { bottom: 0; left: 50%; margin: 0 0 -3px -2px; cursor: s-resize; }
        &.bottom-right { bottom: 0; left: 100%; margin: 0 0 -3px -2px; cursor: se-resize; }
      }
    }
    /*&.dragging {
      -webkit-box-shadow: 0 2px 8px rgba(25,194,243,1);
      -moz-box-shadow: 0 2px 8px rgba(25,194,243,1);
      box-shadow: 0 2px 8px rgba(25,194,243,1);
      .resize {
        .dot { cursor: auto!important; }
      }
    }*/
  }
  .file-manger { position: absolute; bottom: 20px; right: 20px;
    .open-file { float: left; width: 55px; height: 45px; background: url('/example/images/open.png') no-repeat; @include transition(opacity .3s); cursor: pointer; margin-right: 10px;
      &:hover { opacity: 0.85; }
    }
    .save-file { float: left; width: 55px; height: 45px; background: url('/example/images/save.png') no-repeat; @include transition(opacity .3s); cursor: pointer;
      &:hover { opacity: 0.85; }
    }
  }
  #layers { background: $main2; position: absolute; top: 0; right: 0; z-index: 100; max-height: 33px; overflow: hidden; @include transition(all .3s); width: 226px;
    &.open { max-height: 80%; overflow: auto; }
    > div {  background: $main; padding: 5px; font-size: 15px; color: $white; cursor: pointer; width: 100%; }
    ul { list-style: none; padding: 0; margin: 0; overflow-x: hidden;
      li { @include clearfix(); padding: 4px; border-bottom: 1px solid $grey2; border-left: 1px solid $grey2;
        .icon-type { float: left; width: 24px;
          .type {
            &.Rect { width: 16px; height: 16px; background: $dark; }
            &.RoundRect { width: 16px; height: 16px; background: $dark; border-radius: 6px; }
            &.Triangle { width: 0; height: 0; border-style: solid; border-width: 0 8px 16px 8px;; border-color: transparent transparent $dark; }
            &.Circle { width: 16px; height: 16px; border-radius: 24px; background: $dark; }
            &.Ellipse { width: 16px; height: 12px; border-radius: 8px / 6px; background: $dark; }
            &.Text { width: 16px; height: 16px; background: url('/example/images/text.png'); background-size: cover;  }
            &.Actor { width: 16px; height: 16px; background: url('/example/images/actor.png'); background-size: cover;  }
            &.Line { width: 16px; height: 16px; background: url('/example/images/line.png'); background-size: cover; }
            &.DestroyObject { width: 16px; height: 16px; background: url('/example/images/destroy.png'); background-size: cover; }
          }
        }
        .name { float: left; width: 140px; font-size: rem-calc(12); line-height: 16px; white-space: nowrap; overflow: hidden; }
        .actions { float: left; width: 36px; padding-top: 2px;
          .visible { width: 12px; height: 12px; background: url('/example/images/visibility1.png') no-repeat; float: left; display: block;  cursor: pointer; }
          .visible-hide { width: 12px; height: 12px; background: url('/example/images/visibility2.png') no-repeat; float: left; display: block; cursor: pointer; }
          .remove { width: 12px; height: 12px; background: url('/example/images/delete85.png') no-repeat; float: left; display: block; margin: 0 6px; cursor: pointer; }
          i {cursor: pointer;
            &:hover { opacity: .8; }
          }
        }
        &:hover { background: $grey2;  }
      }
    }
  }
}